<script type="text/javascript" charset="utf-8">
	function setFocus() {
	document.forms[0].elements[0].focus();
	}
	window.onload=setFocus;
	// preload the hooyah
	var hooyah = new Image();
	hooyah.src = "/sounds/hooyah.mp3";
</script>
<style>
	.blue {border:solid 2px blue;background-color:lightyellow;}
	.green {border:solid 2px green;background-color:yellowgreen;}
	input {text-align:center;height:50px;font-size:40px;}
	p {font-size:48px; line-height:70px;}
	#begin{font-size:48px; line-height:70px;text-align:center;}
	p {text-align:justify;}
</style>
	<form>
	<p id="verse_text"><%= @verse_layout %>
	</p>
	<p><%= @verse.reference %>
	</p>
	</form>
	<% if @blanks == 0 %>
		<a id="begin" href="/<%= @group.name %>/bbb/<%=h @verse.id %>/easy">Start Now</a>
	<% else %>
		<a id="begin" href="/<%= @group.name %>/bbb/<%=h @verse.id %>/show">PEEK</a>
	<% end %>
<div style="z-index:2;position:absolute;top:100px;font-size:400px;left:50%;color:red;"id="countdown"></div>
<script type="text/javascript" charset="utf-8">

var answers = $H({});
$('verse_text').observe('keyup' , respond);
function respond(event) {
	var element = event.element();
	element.addClassName('blue');
	if ( $F(element).toLowerCase().replace(/^\s+/,"") == element.id.toLowerCase() ) { 
		element.removeClassName('blue'); 
		element.addClassName('green');
		answers.set(element.id, 1); 
		if (element.next('input') != null) {
			element.next('input').focus();}
	};
	if (answers.values().length == <%= @correct %>) {
		Event.stopObserving('verse_text', 'keyup');
		document.body.setStyle('background-color:grey;');
		setTimeout(function(){document.body.insert("<div style='background-color:red;width=100%;text-align:center;position:absolute;z-index:1;top:200px;font-size:800%;'><%= @success %></div></center>");Sound.play('/sounds/hooyah.mp3');}, 500);
	if ('<%= @redirect_url %>' == '/profile') {
		new Ajax.Request('/<%= @verse.id %>/award', {method: 'post'});
	};
		setTimeout(function(){window.location='<%= @redirect_url %>'}, 3000);};}
var seconds = 10;
if (<%= @blanks %> == 0) {
	new PeriodicalExecuter(function(pe) {
		seconds -= 1;
		$('countdown').update(seconds);
		if (seconds <= 0) {pe.stop; window.location = '<%= @redirect_url %>'};
		} , 1);
}
else {
	$('countdown').hide;
}
</script>
