<style>
.letterbox {
	float:left;
	border:4px solid black;
	width:70px;
	height:56px;
	font-size:36px;
	text-align:center;
	z-index:0;
	line-height: 56px;
	font-weight: 800;
}
.black {background-color:black;}
.green {
	background-image: url('/images/blue.png');
}
.spacer {
	background-color:black;
	width:4px;
	height:384px;
	float:left;}
.blue {
	background-image: url('/images/green.png');
}
</style>
<div class="row">
	<div class=" span12" style="margin-left:2px;width:936px;">
		<div class="black">
			<br/>
		</div>
	</div>
</div>
<div class="row">
	<div class=" span12" style="margin-left:2px;">
		<!-- six rows of letters. these go behind the colourful squares. -->
		<% 12.times do |i| %>
		<div class="letterbox">
			<%= @game.row1[(i), 1] %><% if @game.row1[(i)] == 32 %>&nbsp;<% end %>
		</div>
		<% end %>
		<% 12.times do |i| %>
		<div class="letterbox">
			<%= @game.row2[(i), 1] %><% if @game.row2[(i)] == 32 %>&nbsp;<% end %>
		</div>
		<% end %>

		<% 12.times do |i| %>
		<div class="letterbox">
			<%= @game.row3[(i), 1] %><% if @game.row3[(i)] == 32 %>&nbsp;<% end %>
		</div>
		<% end %>
		<% 12.times do |i| %>
		<div class="letterbox">
			<%= @game.row4[(i), 1] %><% if @game.row4[(i)] == 32 %>&nbsp;<% end %>
		</div>
		<% end %>
		<% 12.times do |i| %>
		<div class="letterbox">
			<%= @game.row5[(i), 1] %><% if @game.row5[(i)] == 32 %>&nbsp;<% end %>
		</div>
		<% end %>
		<% 12.times do |i| %>
		<div class="letterbox">
			<%= @game.row6[(i), 1] %><% if @game.row6[(i)] == 32 %>&nbsp;<% end %>
		</div>
		<% end %>
	</div>
	<!-- colourful squares. -->
	<div style="position:absolute;width:940px;margin-left:2px;" id="tile_covers">

		<% 12.times do |i| %>
		<div class="letterbox <% if @game.row1[(i)] == 32 %>green<% else %>blue<% end %> <%= @game.row1[(i), 1] %>">&nbsp;
		</div>
		<% end %>
		<% 12.times do |i| %>
		<div class="letterbox <% if @game.row2[(i)] == 32 %>green<% else %>blue<% end %> <%= @game.row2[(i), 1] %>">&nbsp;
		</div>
		<% end %>

		<% 12.times do |i| %>
		<div class="letterbox <% if @game.row3[(i)] == 32 %>green<% else %>blue<% end %> <%= @game.row3[(i), 1] %>">&nbsp;
		</div>
		<% end %>
		<% 12.times do |i| %>
		<div class="letterbox <% if @game.row4[(i)] == 32 %>green<% else %>blue<% end %> <%= @game.row4[(i), 1] %>">&nbsp;
		</div>
		<% end %>
		<% 12.times do |i| %>
		<div class="letterbox <% if @game.row5[(i)] == 32 %>green<% else %>blue<% end %> <%= @game.row5[(i), 1] %>">&nbsp;
		</div>
		<% end %>
		<% 12.times do |i| %>
		<div class="letterbox <% if @game.row6[(i)] == 32 %>green<% else %>blue<% end %> <%= @game.row6[(i), 1] %>">&nbsp;
		</div>
		<% end %>
	</div>
</div>
<div class="row">
	<div class=" span12" style="margin-left:2px;width:936px;">
		<div class="black">
			<br/>
		</div>
	</div>
</div>


<script type="text/javascript">
// I switched the colors, so blue means green and green means blue.
// When I created this game I could use Prototpype.js but not vanilla javascript, which is why I based scoring on the DOM.
var gameActive = true;
var winGame = function() {
			$.post('/game/<%= @game.id %>/complete');
						alert("you win!");
			return gameActive = false;
};

$(document).bind( 'keydown', function(event) {
	if (event.keyCode > 64 && event.keyCode < 91 && (gameActive == true)) {
		$("." + (String.fromCharCode(event.keyCode))).addClass('found').removeClass('blue');
		var x = $('.found');
		var blues = $('.blue');
		var greens = 72 - blues.length;
		if (x.length < greens && $('.' + (String.fromCharCode(event.keyCode))).size() >= 1) {
			$('#scoreboard').html("<div id='status'></div>");
			blockInput(120);
//		 	Sound.play('/sounds/chime.mp3');
		};
		if ( $( "." + (String.fromCharCode(event.keyCode))).size() < 1) {
			console.log('BUZZ');
			blockInput(120);
//			Sound.play('/sounds/2buzz.mp3');

		};	
		if (blues.length == 0) { winGame();
		}; 
	};
});

// To keep it fun. Pressing all the keys at once won't solve the puzzle.
var blockInput = function(mills) {
	gameActive = false;
	setTimeout(function() {
		gameActive = true;
	}, mills);
}; 
</script>