<script src="/scripts/colorPicker.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/yahoo.color.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/css/colorPicker.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<form action="/<%= @group.name %>/groups/<%= @group.id %>/update" method="post" accept-charset="utf-8">
	<div class='first grid3'>
		<p>Group Name&npsp;&npsp;<input type="text" name="group_name" value="<%= @group.name %>"></p>
		<p>Logo&npsp;&npsp;<input type="text" name="logo" value="<%= @group.logo %>"></p>		
		<p>color 1 #<input type="text" id="colorfield1" name="color1" value="<%= @group.color1 %>"></p>
		<p>color 2 #<input type="text" id="colorfield2" name="color2" value="<%= @group.color2 %>"></p> 
		<p>color 3 #<input type="text" id="colorfield3" name="color3" value="<%= @group.color3 %>"></p> 
		<p>color 4 #<input type="text" id="colorfield4" name="color4" value="<%= @group.color4 %>"></p>
		<p>color 5 #<input type="text" id="colorfield5" name="color5" value="<%= @group.color5 %>"></p>
		<p>color 6 #<input type="text" id="colorfield6" name="color6" value="<%= @group.color6 %>"></p>
<p><input type="submit" class="awesome small royal" value="Continue &rarr;"></p>
</div>

</form>
<script type='text/javascript'>
["1","2","3","4","5","6"].each(function(idx) {
	new Control.ColorPicker("colorfield" + idx); });
</script>