<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="/scripts/prototype.js" type="text/javascript"></script> 
		<script src="/scripts/scriptaculous.js" type="text/javascript"></script>
		<script src="/scripts/saystuff.js" type="text/javascript" charset="utf-8"></script>
	
		<script type="text/javascript" charset="utf-8">
		//	var kungFu = new Image();
		//	kungFu.src = "/sounds/kung_fu.mp3";
			function waitUpdate() {
				setTimeout("window.location='/'", 1500)
			}
		</script>
		<link rel="stylesheet" href="/css/simpler.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/css/saystuff.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<style>
		.color1 { background-color:#<%= @group.color1 %>; }
		.color2 { background-color:#<%= @group.color2 %>; }
		.color3 { background-color:#<%= @group.color3 %>; }
		.color4 { background-color:#<%= @group.color4 %>; }
		.color5 { background-color:#<%= @group.color5 %>; }
		.color6 { background-color:#<%= @group.color6 %>; }
		
		</style>
	</head>
	<body id="body" class="color1">
		<div id="error" style='position:absolute;top:114px;left:600px;z-index:10;color:red;font-size:26px;text-shadow: 2px 2px 2px #eee;
		'>
			<%= request.cookies["error"] %>
		</div>
		<div class="container clearfix white" style="padding: 10px 20px 20px 20px;">
			<div class="first grid6">
				<div id='logo'>
					<a href="/"><img src="/images/<%= @group.logo %>">
					</a>
				</div>
			</div>
			<div class='grid3'>
			&nbsp;
			</div>
			<div class="grid3" style="text-align:right;">
					<% if logged_in? %>
						<div>
							<a href="javascript:say('Full Profile Here');">
								<img style="border:solid black 1px;" src='/images/profilepic.png' height="100" alt='profile'/>
							</a>	
						</div>
					<% else %>
						<a class="large blue awesome" id='login_link' href="#">&nbsp;&nbsp;Log-In&nbsp;&nbsp;&nbsp;</a>
						<p><a class="large pink awesome" id='signup_link' href="#">&nbsp;Sign-Up&nbsp;</a></p>
					<% end %>
			</div>
			<div id="bar"class="first grid12 color2">
				&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;Badges&nbsp;&nbsp;
				<% if logged_in? %>
				<a href="#" onclick="var date = new Date(1970,04, 05, 0,00,04).toUTCString(); document.cookie = 'scramble = 0; expires = ' + date; window.location= '/';">Log-Out</a>
				<% end %>		
			</div>
			<%= yield %><br/>
			<div class='first grid3 color3 linkbox'>
				<h3 style='color:white;text-align:center;'>Levels</h3>
			</div>
			<div class='grid3 color4 linkbox' >
				<h3 style='color:white;text-align:center;'>Bible Black Belt</h3>
			</div>	
			<div class='grid3 color5 linkbox'>
				<h3 style='color:white;text-align:center;'>Puzzle</h3>
			</div>
			<div class='grid3 color6 linkbox'>
				<h3 style='color:white;text-align:center;'>Tile-Game</h3>
			</div>
			<br/>
				
		</div><!-- container bottom of page -->
		
		<div id='login_form' style='display:none;'>
			<center>
				<h2 style="color:black;">Login</h2>
					<p class='label'>Nickname</p>
					<p><input type='text' id="login_nickname" name="nickname" size='26'/></p>
					<p class='label'>Password</p>
					<p><input type="password" id="login_password" name="loginpassword" size='26'/></p>
					<a class="medium magenta awesome" href="#" onclick = "new Ajax.Request('/login', {
							parameters: { nickname: $F('login_nickname'), password: $F('login_password') },
							onSubmit: $('paratext').update('<img src=\'/images/ajax-loader.gif\'/>'),
							onComplete: function(){window.location='/'}});">submit</a>
				<br/>
			</center>
		</div>
		
		<div id="signup" style='display:none;'>
			<center>
				<h2 style="color:black;">SignUp</h2>
					<p class='label'>Nickname</p>
					<p><input type='text' id="nickname" size='26' name="nickname"/></p>
					<p class='label'>Email</p>
					<p><input type='text' id="email" size='26' name="email"/></p>
					<p class='label'>Password</p>
					<p><input type="password" size='26' id="password" name="password"/></p>
					<a class="medium magenta awesome" href="#" onclick = "new Ajax.Request('/signup', {
							parameters: { nickname: $F('nickname'), email: $F('email'), password: $F('password')},
							onSubmit: $('paratext').update('<img src=\'/images/ajax-loader.gif\'/>'),
							onComplete: function(){window.location='/'}})">submit</a>
				<br/>
			</center>
		</div>
		
		<script type='text/javascript'>
		if ($('login_link') || $('signup_link')) {
			addEvent($('login_link'), 'click',
			function () {
				say('<img src=\'/images/ajax-loader.gif\' />');
				var login=$('login_form').show();
				$('paratext').update(login);
				$('alertbox').style.height = '300px';
			} );
			addEvent($('signup_link'), 'click',
			function () {
				say('<img src=\'/images/ajax-loader.gif\' />');
				var signup = $('signup').show();
				$('paratext').update(signup);
				$('alertbox').style.height = '340px';
			} ); };			
		</script>
	</body>
</html>