<script src="/scripts/jquery-ui.js"></script>
<style>

.smoke {	
	background-color:whiteSmoke;
	border: 1px solid #E5E5E5;
	text-align: center;
}
.drop {font-size:14px;color:red;background-color:white;text-align:center;line-height:30px;width:148px;border: 3px dashed #E5E5E5;}
.center {text-align:center;}
.red { background-color: red;}
.borders { margin: 0px 0px 0px 30px;}
ol {margin-left:-10px;}
ol li {margin-left:0px;}
input {outline:none;}
.blueInput { font-size:14px;height:27px;line-height:27px;width: 115px;background-color: #000033; border-style: none;color:white;outline:none;padding:0px 0px 0px 5px;border:darkblue;}
.shadow {

}
.saveButton {height:27px;
	line-height:27px;
	width:45px;
	font-size:12px;
	background-color:red;
	border:1px solid darkred;
	color:white;
	border-radius:2px;
	text-align:center;
	margin:10px 0px 10px 86px;}
.saveButton:hover {
	background-color:darkred;
	text-decoration:none;
	-moz-box-shadow: 1px 1px 2px #ccc;
	-webkit-box-shadow: 1px 2px 5px #ccc;
	box-shadow: 1px 1px 2px #ccc;
	}
</style>

<div class="first grid3">
	<div class="smoke">
		<h3 style="text-align:center">New Level</h3>
		<input type="text" class="drop" name="title" value="INPUT LEVEL TITLE" id="title">
		<ol style="text-align:left;" id="newLevel">
			<p class="drop">DROP UNITS
				<span style="color:red;">+</span>
			</p>
		</ol>
			<br>
			<div id="save" class="saveButton">&nbsp;&nbsp;SAVE&nbsp;&nbsp;
			</div>
			
	</div>
	<p id="spinner"> </p>
</div>

<div class="grid3">
	<h3>Pages</h3>
</div>
<div id="verses" class="grid2">
	<h3>Verses</h3>
	<% @verses.each do |verse| %>
	<a href="/bbb/<%= verse.id %>/show" rel="/verses/<%= verse.id %>/create"><%= verse.title %></a>
	<% end %>
</div>
<div id="puzzles" class="grid2">
	<h3>Puzzles</h3>
	<% @puzzles.each do |puzzle| %>
	<a href="/puzzles/<%= puzzle.id %>/show" rel="/puzzles/<%= puzzle.id %>/create"><%= puzzle.title %></a>
	<% end %>	
</div>
<div id="games" class="grid2">
	<h3>Tile Games</h3>
	<% @games.each do |game| %>
	<a href="/games/<%= game.id %>/show" rel="/games/<%= game.id %>/create"><%= game.title %></a>
	<% end %>
</div>		
<script>
$(function() {
	$( "#verses a" ).draggable({
	//	appendTo: "body",
		helper: "clone"
	});
	$( "#puzzles a" ).draggable({
//		appendTo: "body",
		helper: "clone"
	});
	$( "#games a" ).draggable({
//		appendTo: "body",
		helper: "clone"
	});
	$("#newLevel").droppable({ 
		accept: ":not(.ui-sortable-helper)",
		 drop: function( event, ui ) {
			$( this ).find( ".placeholder" ).remove();
			$("<li rel= '" + ui.draggable.attr('rel') + "'" + ">" + ui.draggable.text() +"</li>").appendTo( this );
	}
	}).sortable({
		items: "li:not(.placeholder)",
		sort: function() {
					$( this ).removeClass( "ui-state-default" );
				}})

	
$('#save').bind( 'click', function(){
	$('#newLevel li').map(function(i){
		$.ajax({	type: 'POST',
					url:'/units/'+ $('#title').val() + '/' +i.toString() + $(this).attr('rel'),
					beforeSend: function() { if ($('#spinner img') == null) {$('#spinner').append('<img src="/images/ajax-loader.gif">')}},
					error: function() {say('Error: you are probably missing a title or units')},
					success: function() {	
											$("#newLevel").html("<p class='drop'>DROP UNITS +</p>");
											$('#spinner img').remove();
											$('#title').val("NEW LEVEL TITLE")
									 		} 
										});
							} );
	});
	$('#title').bind('keypress', function(){$(this).val("").unbind('keypress')});
	$('#title').focus();
	$('#title').bind('click', function(){$(this).val("")});
});
</script>