<p>name: <%= @group.name %></p>
<p>logo: <%= @group.logo %></p>
<p>color 1: <%= @group.color1 %></p>
<p>color 2: <%= @group.color2 %></p>
<p>color 3: <%= @group.color3 %></p>
<p>color 4: <%= @group.color4 %></p>
<p>color 5: <%= @group.color5 %></p>
<p>color 6: <%= @group.color6 %></p>
<p>Updated: <%= @group.updated_at.strftime("%I:%M GMT on %d %b %Y") %></p>
<br/>
<p><a href='/group/new'>New</a></p>
<p><a href='/group/<%= @group.id %>/edit'>Edit</a></p>
<p><a href='/group/<%= @group.id %>/destroy'>Delete</a></p>

